/* ========================================
   CUSTOM FONT DEFINITION
   ======================================== */

@font-face {
  font-family: 'Nexa Rust Sans Black';
  src: url('https://yannicksegaar.github.io/romaix_lastfrontier/www.lastfrontierheli.com/fonts/NexaRustSansBlack2.woff2') format('woff2'),
       url('https://yannicksegaar.github.io/romaix_lastfrontier/www.lastfrontierheli.com/fonts/NexaRustSansBlack-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ========================================
   APPLY FONT TO ALL TEXT ELEMENTS
   ======================================== */

.vfrc-header,
.vfrc-assistant-info--title,
.vfrc-system-response .vfrc-message,
.vfrc-user-response .vfrc-message,
.vfrc-input,
.vfrc-input::placeholder,
.vfrc-button {
  font-family: 'Nexa Rust Sans Black', sans-serif !important;
}

/* ========================================
   BACKGROUND IMAGE - CHAT DIALOG ONLY
   ======================================== */

.vfrc-chat--dialog {
  background-image: url('https://yannicksegaar.github.io/romaix_lastfrontier/www.lastfrontierheli.com/images/ChatBackground.jpg') !important;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  min-height: 100% !important;
}