body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #4a4a4a;
}

.login-header-wrap {
  background-color: #d8d8d8;
  border: 1px solid #979797;
}

.login-header {
  padding: 10px 40px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
  box-sizing: border-box;
}

.logout {
  color: #4a4a4a;
  font-weight: 300;
  transition: .2s;
}

.logout:hover {
  color: #979797;
}

.content {
  max-width: 530px;
  margin: 0 auto;
  padding: 0 15px;
}

h2 {
  margin-bottom: 1rem;
}

h3 {
  margin-top: 24px;
  font-size: 21px;
}

p {
  margin-top: 0;
}

.subtitle {
  font-weight: 300;
  font-size: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #5b5b5b;
  margin-bottom: 30px;
}

.day {
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 5px;
}

.simple-btn,
.gform_next_button {
  text-align: center;
  width: 200px;
  display: inline-block;
  margin-bottom: 10px;
  border: 1px solid #979797;
  border-radius: 6px;
  font-size: 16px;
  line-height: 29px;
  padding: 5px;
  height: 40px;
  box-sizing: border-box;
  outline: none;
  transition: .2s;
  font-weight: 600;
  color: #4a4a4a;
  text-decoration: none!important;
  text-shadow: 0 1px 0 #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 0 #fff;
  background-image: linear-gradient(to bottom, #d8d8d8, #b3b3b3);
  cursor: pointer;
}

.simple-btn:hover {
  background-color: #cfcfcf;
  text-decoration: none!important;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.35);
  -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.35);
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.35);
}

.less {
  font-size: 13px;
}

.gform_next_button {
  width: 100%!important;
  
}

.gform_next_button:hover {
  -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5);
  -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5);
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5);
}

.gfield_label {
  font-size: 14px!important;
  color: #333333;
}

.gfield_required {
  display: none;
}

select,
.datepicker {
  border-radius: 4px;
  width: 100%!important;
  border: 1px solid #979797;
  font-size: 16px;
  padding:5px 14px!important;
  height: 40px;
  box-sizing: border-box;
  outline: none;
  transition: .1s;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), inset 0 2px 0 0 #ffffff;
  background-image: linear-gradient(to bottom, #f2f2f2, #d4d4d4);
}

input:not([type="checkbox"]) {
  border: 1px solid #979797;
  border-radius: 4px;
  font-size: 16px;
  padding: 5px 14px!important;
  height: 40px;
  box-sizing: border-box;
  outline: none;
  transition: .3s;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}

textarea {
  border: 1px solid #979797;
  font-size: 16px;
  padding: 5px 14px!important;
  box-sizing: border-box;
  outline: none;
  transition: .1s;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
}

.full-width {
  padding-right: 0!important;
  
}
.full-width input,
textarea {
  width: 100%!important;
}

.half-width {
  width: 48%!important;
  display: inline-block;
  padding: 0!important;
  max-width: 48%!important;
}

.half-width:nth-child(even) {
  margin-right: 4%!important;
}

body .gform_wrapper.gform_validation_error .gform_body ul li.gfield_error {
  max-width: 100%!important;
  background-color: transparent!important;
  border-top: none;
  border-bottom: none;
}

.validation_message {
  display: none!important;
}

tbody tr:nth-child(odd) {
  background-color: #e5e5e5;
}

td,
td strong {
  font-size: 14px!important;
}

.gform_previous_button {
  width: 140px!important;
  border: 1px solid #979797;
  border-radius: 4px;
  font-size: 16px;
  padding: 5px;
  height: 40px;
  box-sizing: border-box;
  outline: none;
  transition: .2s;
  font-weight: 600;
  margin-top: 18px;
  color: #4a4a4a;
  text-shadow: 2px 1px 1px #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), inset 0 2px 0 0 #ffffff;
  background-image: linear-gradient(to bottom, #f2f2f2, #d4d4d4);
  cursor: pointer;
}

.gform_previous_button:hover {
  -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5);
  -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5);
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5);
}

.gform_page input[type="submit"] {
  font-weight: 600;
  margin: 0!important;
  color: #4a4a4a;
  width: calc( 100% - 165px)!important;
  width: -webkit-calc( 100% - 165px)!important;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), inset 0 2px 0 0 #ffffff;
  background-image: linear-gradient(to bottom, #d8d8d8, #b3b3b3);
}

.gfield_html {
  padding-right: 0!important;
}

.form-group {
  margin-bottom: 8px;
}

.form-control {
  width: 100%;
}

.hidden {
  display: none;
}

.alert {
  margin-bottom: 16px;
  padding: 16px;
}

.alert-success {
  background-color: rgba(36, 131, 29, 0.1);
}

/* Login form */

.content-login {
  max-width: 370px;
  margin: 0 auto;
  padding: 0 15px;
}

.content-login input {
    width: 100%;
    border: 1px solid #979797;
    font-size: 16px;
    padding: 5px;
    height: 40px;
    box-sizing: border-box;
    outline: none;
    transition: .3s;
    
    border-radius: 3px;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    background-color: #fff;
}

.content-login input[type="submit"] {
    font-weight: 600;
    margin-top: 18px;
    color: #4a4a4a;
    text-shadow: 0 1px 0 #ffffff;
    cursor: pointer;
    
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), inset 0 1px 0 0 #fff;
    background-image: linear-gradient(to bottom, #d8d8d8, #b3b3b3);
}

.error-login {
    color: red;
}

/* Customization */

#gform_page_25_2 #field_25_20 table table tr:nth-last-child(-n+6),
#gform_page_25_2 #field_25_20 table table tr:nth-child(3),
#gform_page_25_2 #field_25_20 table table tr:nth-child(4),
#gform_page_25_2 #field_25_20 table table tr:nth-child(19),
#gform_page_25_2 #field_25_20 table table tr:nth-child(20),
#gform_page_26_2 #field_26_20 table table tr:nth-last-child(-n+6),
#gform_page_26_2 #field_26_20 table table tr:nth-child(3),
#gform_page_26_2 #field_26_20 table table tr:nth-child(4),
#gform_page_26_2 #field_26_20 table table tr:nth-child(19),
#gform_page_26_2 #field_26_20 table table tr:nth-child(20),
#gform_page_27_2 #field_27_22 table table tr:nth-last-child(-n+6),
#gform_page_27_2 #field_27_22 table table tr:nth-child(3),
#gform_page_27_2 #field_27_22 table table tr:nth-child(4),
#gform_page_27_2 #field_27_22 table table tr:nth-child(19),
#gform_page_27_2 #field_27_22 table table tr:nth-child(20),
#gform_page_28_2 #field_28_22 table table tr:nth-last-child(-n+6),
#gform_page_28_2 #field_28_22 table table tr:nth-child(3),
#gform_page_28_2 #field_28_22 table table tr:nth-child(4),
#gform_page_28_2 #field_28_22 table table tr:nth-child(19),
#gform_page_28_2 #field_28_22 table table tr:nth-child(20) {
  display: none;
}

li#field_25_15,
li#field_26_15,
li#field_25_17,
li#field_26_17,
li#field_27_17,
li#field_27_18,
li#field_28_17,
li#field_28_18 {
  padding-right: 0;
}

li#field_25_15 #input_25_15,
li#field_25_17 #input_25_17,
li#field_26_15 #input_26_15,
li#field_26_17 #input_26_17,


li#field_27_17 #input_27_17,
li#field_28_17 #input_28_17 {
  width: 100%;
  padding-top: 8px!important;
}

#gform_page_25_2 #field_25_20 table table tr:nth-child(14) font:after,
#gform_page_26_2 #field_26_20 table table tr:nth-child(14) font:after,
#gform_page_27_2 #field_27_22 table table tr:nth-child(14) font:after,
#gform_page_28_2 #field_28_22 table table tr:nth-child(14) font:after {
  content: 'm';
}
#gform_page_25_2 #field_25_20 table table tr:nth-child(16) font:after,
#gform_page_26_2 #field_26_20 table table tr:nth-child(16) font:after,
#gform_page_27_2 #field_27_22 table table tr:nth-child(16) font:after,
#gform_page_28_2 #field_28_22 table table tr:nth-child(16) font:after {
  content: 'cm';
}
